<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to profile_path, class: "nav-link #{current_page?(profile_path) ? 'active' : ''}" do %>
          <i class="bi bi-person me-2"></i>Perfil
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to simulados_path, class: "nav-link #{current_page?(simulados_path) ? 'active' : ''}" do %>
          <i class="bi bi-journals me-2"></i>Fazer Simulados
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to completed_exams_path, class: "nav-link #{current_page?(completed_exams_path) ? 'active' : ''}" do %>
          <i class="bi bi-journals me-2"></i>Simulados Realizados
        <% end %>
      </li>
    </ul>
  </div>
</nav>